@import "../variables";

.top-menu-container {
    position:         fixed;
    top:              0;
    left:             0;
    width:            100vw;
    z-index:          100;
    background-color: transparent;
    transition:       background-color linear 0.25s;
    will-change:      background-color;

    &.scrolled {
        background-color: $green;
    }

    ul {
        list-style: none;
        padding:    0;
        margin:     0;
    }

    .logo {
        img {
            width:  auto;
            height: 20px;
        }
    }

    .top-menu {
        padding: 8px 16px;

        li {
            margin: 0;
        }

        a {
            font-weight:     400;
            font-size:       14px;
            line-height:     15px;
            letter-spacing:  0.0025em;
            color:           white;
            text-decoration: none;
        }
    }

    .buttons-container {
        margin-right: -4px; // у картинок есть внутренний отступ 4 пикселя

        img {
            width:      100%;
            height:     100%;
            max-width:  24px;
            max-height: 24px;
        }

        & > * {
            padding:     4px;
            line-height: 0;
            margin-left: 16px;
            transition:  opacity linear 0.25s;
            will-change: opacity;

            &:hover {
                opacity: 0.7;
            }
        }

        button.toggle-menu {
            background: none;
            border:     none;
        }
    }

    .side-menu {
        position:    fixed;
        top:         0;
        left:        100vw;
        width:       100vw;
        height:      100vh;
        z-index:     500;
        transition:  left linear 0.25s;
        will-change: left;
        background:  white;
        overflow:    auto;

        &.show {
            left: 0;
        }

        .menu-container {
            padding: 12px 16px 24px;
        }

        .buttons {
            margin-bottom: 42px;

            & > div {
                padding:       16px;
                background:    $gray-light-9;
                border-radius: 4px;
                width:         calc(50% - 6px);
                opacity:       1;
                transition:    opacity linear 0.25s;
                will-change:   opacity;
                cursor:        pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            &, a {
                font-weight:     400;
                font-size:       14px;
                line-height:     20px;
                letter-spacing:  0.25px;
                color:           $gray-10;
                text-decoration: none;
            }

            img {
                width:         100%;
                height:        100%;
                max-width:     24px;
                max-height:    24px;
                margin-bottom: 12px;
            }
        }

        ul.menu {
            margin: 0 0 40px 0;

            a {
                font-size:       18px;
                line-height:     20px;
                letter-spacing:  0.25px;
                color:           $gray-10;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            li {
                margin-bottom: 27px;

                &.dropdown {
                    & > a {
                        display:       block;
                        position:      relative;
                        padding-right: 16px;

                        &:after {
                            content:         '';
                            position:        absolute;
                            top:             7px;
                            right:           0;
                            width:           12px;
                            height:          8px;
                            background:      url(/public/images/v4/arrow-down-black.svg) no-repeat center;
                            background-size: contain;
                        }
                    }

                    .dropdown-list {
                        max-height:  0;
                        transition:  max-height linear 0.25s;
                        will-change: max-height;
                        overflow:    hidden;

                        ul {
                            padding-top: 25px;
                        }

                        li {
                            margin-bottom: 25px;

                            a {
                                font-weight: 400;
                                font-size:   14px;
                                line-height: 20px;
                                color:       $gray-11;
                            }
                        }
                    }

                    &.opened {
                        & > a:after {
                            transform: rotate(180deg);
                        }

                        .dropdown-list {
                            max-height: 100vh;
                        }
                    }
                }
            }
        }

        .social-container {
            padding:       0 16px;
            margin-bottom: 32px;

            img {
                width:        40px;
                height:       auto;
                margin-right: 24px;
                opacity:      1;
                transition:   opacity linear 0.25s;
                will-change:  opacity;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .text-container {
            padding:        0 16px;
            margin-bottom:  24px;
            font-weight:    400;
            font-size:      12px;
            line-height:    18px;
            letter-spacing: 0.0025em;

            .address {
                margin-bottom: 24px;

                &, a {
                    font-size:       14px;
                    line-height:     21px;
                    letter-spacing:  0.25px;
                    color:           $gray-11;
                    text-decoration: none;
                }
            }

            .offer {
                color:         $gray-12;
                margin-bottom: 16px;
            }

            .copyright {
                color: $gray-light-10;
            }
        }
    }
}

@import "container-768";
@import "container-1320";